body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.right-function-area {
  margin-bottom: 20px;
}

.button-function-area {
  margin-bottom: 20px;
}
